.color__green{
    color: #05433b;
}

.text_color_green_2{
    color: #288074;
}

.text_color_white{
    color: #F2F2F2;
}

.bg-color-cream{
    background: #FFD8AC;
}

.bg_color_grey_1{
    background: #F4F4F4;
}

.text_color_grey_3{
    color: #828282;
}

@import './slider.scss';