.color__green{
    color: #05433b;
}

.text_color_green_2{
    color: #288074;
}

.text_color_green_3{
    color: #2F6C64;
}

.text_color_green_4{
    color: #2F6C64;
}

.text_color_green_5{
    color: #05433B40;
}

.text_color_white{
    color: #F2F2F2;
}

.text_color_white_2{
    color: #FFFFFF;
}

.text_color_cream_1{
    color: #FED3A2;
}

.text_color_cream_2{
    color: #FFF0DE;
}

.text_color_grey_2{
    color: #4F4F4F;
}

.text_color_grey_3{
    color: #828282;
}

.text_color_grey_4{
    color: #BDBDBD;
}

.bg_color_grey_2{
    background: #F2F2F2;
}

.bg-color-cream{
    background: #FFD8AC;
}

.bg_color_grey_1{
    background: #F4F4F4;
}

.bg_color_grey_2{
    background: #F6F6F6;
}

.bg_color_grey_3{
    background: #DDE8E6;
}

.bg_color_grey_4{
    background: #E0E0E0;
}

.bg_color_green{
    background: #05433b;
}

.bg_color_green_2{
    background: #3B6761;
}

.bg_color_green_3{
    background: #03443C;
}

.bg_color_white_1{
    background: #FFFFFF;
}

.bg_color_green_2{
    background: #2F6C64;
}

.bg_color_green_3{
    background: #1A564E;
}

.bg_color_blue{
    background: #F2FAF8;
}


.border_color_grey{
    border: #E0E0E0 solid 1px;
}

.border_color_grey_2{
    border: #BDBDBD solid;
}


.border_color_green_2{
    border: #2F6C64 solid 1px;
}


.width-extra-1{
    width: 560px;
}

.rounded-half{
    border-radius: 50%
}

.border_color_green{
    border: solid #05433b;
}

.border_color_green_mobile{
    border: 1px solid #05433b;
}

.h-extra-full{
    height: 110%;
    z-index: -3;
}

.text-xxs{
    font-size: 11px;
}

.button-box-shadow-1{
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
}

@import './slider.scss';